@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 "Roboto Slab", serif;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;

}

figure {
  position: relative;
  margin: 0;
}

figcaption {
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: 100%;
  max-width: 15em;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  border-radius: 8px;

}
